body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    color: #F9FAF8; 
    font-size: 24px;
    flex: 1 1 auto;
    background-color: #1f2937;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
    margin-right: 210px;
}

.header-link {
    text-decoration: none;
    font-size: 16px;
    color: #e5e7eb;
}

.logo {
    margin-left: 210px;
}

.container-1 {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    justify-content: space-between;
    padding: 48px 0;
    background-color:#1f2937;
}

.description {
    margin-left: 210px;
    color:#e5e7eb;
    font-size: 18px;
}

.text-1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-top: 0px;
    margin-bottom: 0px;
}

.text-2 {
    font-size: 16px;
    color: #e5e7eb
}

.sign-up {
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.sign-up:hover {
    color: #3882f6;
    background-color: white;
}


img {
    max-width: 100%
} 

.main-info {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px auto;
}

.container-2 {
    display: flex;
    flex: auto;
    justify-content: center;
    gap: 42px;

}

.sub-info {
    text-align: center;
    max-width: 250px;
}