body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    color: #F9FAF8; 
    font-size: 24px;
    flex: 1 1 auto;
    background-color: #1f2937;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
    margin-right: 210px;
}

.header-link {
    text-decoration: none;
    font-size: 16px;
    color: #e5e7eb;
}

.logo {
    margin-left: 210px;
}

.container-1 {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    justify-content: space-between;
    padding: 48px 0;
    background-color:#1f2937;
}

.description {
    margin-left: 210px;
    color:#e5e7eb;
    font-size: 18px;
}

.text-1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-top: 0px;
    margin-bottom: 0px;
}

.text-2 {
    font-size: 16px;
    color: #e5e7eb
}

button {
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size:24px;
}

.sign-up:hover {
    color: #3882f6;
    background-color: white;
}


img {
    max-width: 100%
} 

.main-info {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px auto;
}

.container-2 {
    display: flex;
    flex: auto;
    justify-content: center;
    gap: 42px;
    padding-bottom: 96px;

}

.sub-info {
    text-align: center;
    max-width: 250px;
}

.container-3 {
    display: flex;
    flex-direction: column;
    padding: 72px 96px;
    align-items: center;
    background-color: #e5e7eb
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    margin: 0px;
    max-width: 1000px;
}

.quote-ref {
    align-self: flex-end;
    justify-self: flex-start;
    margin-right: 22px;
    max-width: 1000px;
    margin-right: 300px
}

.container-4 {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    color: #e5e7eb;
    margin: 72px 168px;
    padding: 36px 72px;
    border-radius: 8px;
}

.container-4 .text-1 {
    font-size: 24px;
    font-weight: 800
}

button.sign-up-2 {
    border: 4px #e5e7eb solid;
}
.sign-up-2:hover {
    color: #3882f6;
    background-color: #e5e7eb;
}